<div class="col-4">
    <form method="post" class="" action="{{ path('app_employer_delete', {'id': employer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employer.id) }}">
        <button type="submit" class="btn btn-outline-danger"data-bs-toggle="tooltip" data-bs-placement="bottom" title="Suprimer l'employé" ><i class="bi bi-trash3-fill"></i></button>
    </form>
</div>