{% extends 'base.html.twig' %}

{% block title %}New Employer{% endblock %}

{% block body %}
    <div class="bg-white p-4">
        <div class="container">
            <div class="row">
                <div class="col-11">
                    <h1 class="h2">Ajouter un employé</h1>
                </div>
                <div class="col-1">
                    <a href="{{ path('app_employer_index') }}" type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Allée a la list des employées"><i class="bi bi-list-ul"></i></i></a>
                </div>
            </div>   
        </div>
    </div>

    {{ include('employer/_form.html.twig') }}
{% endblock %}
